:root {
	--primary: #5fc7c7;
	--dark: #203047;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 43px;
	letter-spacing: 0px;
	color: #b2b2b2;
}

.btn-primary {
	font: normal normal bold 22px/33px Poppins;
	border-radius: 2px;
	background: linear-gradient(45deg, #19d3ae, #0fcfec);
	border: none;
	padding: 10px 25px;
	transition: 0.2s;
	min-width: 249px;
	min-height: 70px;
}

.btn-primary:hover,
.btn-primary:focus {
	background: linear-gradient(-45deg, #19d3ae, #0fcfec);
}

.section-title {
	font: normal normal 500 68px/96px Poppins;
	letter-spacing: 0px;
	color: #203047;
}

.section-subtitle {
	font: normal normal 600 32px/48px Poppins;
	letter-spacing: 0px;
	color: #5fc7c7;
}

@media (max-width: 1400px) {
	body {
		font-size: 18px;
		line-height: 1.53;
	}

	.section-title {
		font-size: 50px;
		line-height: 1.2;
	}

	.section-subtitle {
		font-size: 22px;
		line-height: 1.5;
	}
	.btn-primary {
		padding: 10px 35px;
		min-width: initial;
		min-height: initial;
		font-size: 18px;
		font-weight: 600;
	}
}
/* ********************  */

/* ********************  */

/* ********************  */

/* ********************  */

/* ********************  */

/* ********************  */

/* ********************  */

/* ********************  */
